<div class="top-row ps-3 navbar navbar-dark bg-dark shadow-sm">
	<div class="container-fluid">
		<a class="navbar-brand text-white fs-3" href="">RecipeTracker</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="nav flex-column">
		<div class="nav-item px-3 py-2">
			<NavLink class="nav-link d-flex align-items-center text-white" href="food">
				<span class="bi bi-cup-straw me-3" style="font-size: 1.5rem; line-height: 1;" aria-hidden="true"></span> Food
			</NavLink>
		</div>
		<!-- Additional nav items can go here -->
	</nav>
</div>