/* Specific Styles for the Razor page in Dark Theme */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color); /* Light text color for headings */
}
