/* General Styles */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #121212; /* Dark background for the entire app */
    color: #e1e1e1; /* Light text color for dark theme */
    font-size: 1rem; /* Set base font size for relative units */
}

a {
    color: #03a9f4; /* Blue color for links in dark theme */
}

/* Loading and No Recipes Found States */
.loading, .no-recipes {
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Error Message */
.blazor-error-boundary {
    padding: 1rem;
    color: white;
    background-color: #b32121;
    text-align: center;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}